body, html {
    height: 100%;
    margin: 0;
}

body {
    // position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    line-height: 70px;
    display: inline;
    position: absolute;
    color: white;
    left: 20%;
    top: 40%;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
